@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Medium.eot');
    src: url('./fonts/Jost-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-Medium.woff2') format('woff2'),
        url('./fonts/Jost-Medium.woff') format('woff'),
        url('./fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Light.eot');
    src: url('./fonts/Jost-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-Light.woff2') format('woff2'),
        url('./fonts/Jost-Light.woff') format('woff'),
        url('./fonts/Jost-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Princess Diana';
    src: url('./fonts/PrincessDiana.eot');
    src: url('./fonts/PrincessDiana.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PrincessDiana.woff2') format('woff2'),
        url('./fonts/PrincessDiana.woff') format('woff'),
        url('./fonts/PrincessDiana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}